@charset "UTF-8";


.entbtngalley {
	padding-bottom: 0;
}

.entbtngalley a {
	display: inline-block;
	width: 20%;
	font-size: 1.2em;
	font-weight: 700;
	height: 50px;
	line-height : 50px;
	color : gray;
	opacity: 0.5;
}

.ftco-section {
	padding-top: 50px;
}

.entbtngalley a:hover {
	color: #ffa323;
	opacity: 1.0;
}

.entbtngalley a.pick {
	font-weight: 900;
	font-size : 1.4em;
	color : black;
	opacity: 1.0;
}

.entbtngalley a.pick:hover {
	color : black;
}