<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="header2"></head>

	<link rel="stylesheet" href="/css/entertainment/competitiongallery.css?after">

	<body>
	
	<section class="hero-wrap hero-wrap-2" style="background-image: url('/test/images/bg_3.jpg');" data-stellar-background-ratio="0.5">
	      <div class="overlay"></div>
	      <div class="container">
	        <div class="row no-gutters slider-text align-items-end justify-content-center">
	          <div class="col-md-9 ftco-animate text-center">
	            <h1 class="mb-2 bread">Competition</h1>
	            <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Entertainment <i class="ion-ios-arrow-forward"></i></a></span> <span>Competition <i class="ion-ios-arrow-forward"></i></span></p>
	          </div>
	        </div>
	      </div>
    </section>
    
    <section class="ftco-section entbtngalley">
    	<div class="container">
			<div class="row">
   				 <a href="#" class="pick"><span>참여한 경쟁전</span></a>
   				 <a href="#"><span>진행중인 경쟁전</span></a>
   				 <a href="#"><span>종료된 경쟁전</span></a>
    		</div>
    	</div>
    </section>
    
    <section class="ftco-section">
		<div class="container">
			<div class="row">

		         <div class="col-md-4 ftco-animate">
		           <div class="blog-entry">
		             <a href="/entertainment/competition/10" class="block-20" style="background-image: url('/test/images/image_1.jpg');">
		             </a>
		             <div class="text pt-3 pb-4">
		               <div class="meta">
		                 <div><a href="#">June 25, 2019 ~ June 25, 2019</a></div>
		               </div>
		               <h3 class="heading"><a href="#">용평 MTB 축제</a></h3>
		               <p class="clearfix">
		                 <a href="#" class="float-left read">자세히보기</a>
		                 <a href="#" class="float-right meta-chat">참여중인 클럽 : 0</a>
		               </p>
		             </div>
		           </div>
		         </div>
		         
         		<div class="col-md-4 ftco-animate">
		           <div class="blog-entry">
		             <a href="/entertainment/competition/10" class="block-20" style="background-image: url('/test/images/image_1.jpg');">
		             </a>
		             <div class="text pt-3 pb-4">
		               <div class="meta">
		                 <div><a href="#">June 25, 2019 ~ June 25, 2019</a></div>
		               </div>
		               <h3 class="heading"><a href="#">용평 MTB 축제</a></h3>
		               <p class="clearfix">
		                 <a href="#" class="float-left read">자세히보기</a>
		                 <a href="#" class="float-right meta-chat">참여중인 클럽 : 0</a>
		               </p>
		             </div>
		           </div>
		         </div>
		         
		         <div class="col-md-4 ftco-animate">
		           <div class="blog-entry">
		             <a href="/entertainment/competition/10" class="block-20" style="background-image: url('/test/images/image_1.jpg');">
		             </a>
		             <div class="text pt-3 pb-4">
		               <div class="meta">
		                 <div><a href="#">June 25, 2019 ~ June 25, 2019</a></div>
		               </div>
		               <h3 class="heading"><a href="#">용평 MTB 축제</a></h3>
		               <p class="clearfix">
		                 <a href="#" class="float-left read">자세히보기</a>
		                 <a href="#" class="float-right meta-chat">참여중인 클럽 : 0</a>
		               </p>
		             </div>
		           </div>
		         </div>
		         
		         <div class="col-md-4 ftco-animate">
		           <div class="blog-entry">
		             <a href="/entertainment/competition/10" class="block-20" style="background-image: url('/test/images/image_1.jpg');">
		             </a>
		             <div class="text pt-3 pb-4">
		               <div class="meta">
		                 <div><a href="#">June 25, 2019 ~ June 25, 2019</a></div>
		               </div>
		               <h3 class="heading"><a href="#">용평 MTB 축제</a></h3>
		               <p class="clearfix">
		                 <a href="#" class="float-left read">자세히보기</a>
		                 <a href="#" class="float-right meta-chat">참여중인 클럽 : 0</a>
		               </p>
		             </div>
		           </div>
		         </div>
		         
		         <div class="col-md-4 ftco-animate">
		           <div class="blog-entry">
		             <a href="/entertainment/competition/10" class="block-20" style="background-image: url('/test/images/image_1.jpg');">
		             </a>
		             <div class="text pt-3 pb-4">
		               <div class="meta">
		                 <div><a href="#">June 25, 2019 ~ June 25, 2019</a></div>
		               </div>
		               <h3 class="heading"><a href="#">용평 MTB 축제</a></h3>
		               <p class="clearfix">
		                 <a href="#" class="float-left read">자세히보기</a>
		                 <a href="#" class="float-right meta-chat">참여중인 클럽 : 0</a>
		               </p>
		             </div>
		           </div>
		         </div>
		         
		         <div class="col-md-4 ftco-animate">
		           <div class="blog-entry">
		             <a href="/entertainment/competition/10" class="block-20" style="background-image: url('/test/images/image_1.jpg');">
		             </a>
		             <div class="text pt-3 pb-4">
		               <div class="meta">
		                 <div><a href="#">June 25, 2019 ~ June 25, 2019</a></div>
		               </div>
		               <h3 class="heading"><a href="#">용평 MTB 축제</a></h3>
		               <p class="clearfix">
		                 <a href="#" class="float-left read">자세히보기</a>
		                 <a href="#" class="float-right meta-chat">참여중인 클럽 : 0</a>
		               </p>
		             </div>
		           </div>
		         </div>
		         
		         <div class="col-md-4 ftco-animate">
		           <div class="blog-entry">
		             <a href="/entertainment/competition/10" class="block-20" style="background-image: url('/test/images/image_1.jpg');">
		             </a>
		             <div class="text pt-3 pb-4">
		               <div class="meta">
		                 <div><a href="#">June 25, 2019 ~ June 25, 2019</a></div>
		               </div>
		               <h3 class="heading"><a href="#">용평 MTB 축제</a></h3>
		               <p class="clearfix">
		                 <a href="#" class="float-left read">자세히보기</a>
		                 <a href="#" class="float-right meta-chat">참여중인 클럽 : 0</a>
		               </p>
		             </div>
		           </div>
		         </div>
		         
			</div>
		</div>
	</section>

	<footer th:replace="footer2"></footer>
	
	<!-- loader -->
  	<div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>

	<script src="/test/js/jquery.min.js"></script>
	<script src="/test/js/jquery-migrate-3.0.1.min.js"></script>
	<script src="/test/js/popper.min.js"></script>
	<script src="/test/js/bootstrap.min.js"></script>
	<script src="/test/js/jquery.easing.1.3.js"></script>
	<script src="/test/js/jquery.waypoints.min.js"></script>
	<script src="/test/js/jquery.stellar.min.js"></script>
	<script src="/test/js/owl.carousel.min.js"></script>
	<script src="/test/js/jquery.magnific-popup.min.js"></script>
	<script src="/test/js/aos.js"></script>
	<script src="/test/js/jquery.animateNumber.min.js"></script>
	<script src="/test/js/bootstrap-datepicker.js"></script>
	<script src="/test/js/jquery.timepicker.min.js"></script>
	<script src="/test/js/scrollax.min.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
	<script src="/test/js/google-map.js"></script>
	<script src="/test/js/main.js"></script>

	</body>
</html>