<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="header"></head>
<body>
<div class="root">


	<table class = "table" id="competition" width="100%" cellspacing="0">
		<thead>
		<tr>
		<th>#번호</th>
		<th>진행중 경쟁전 코스</th>
		<th>진행중 경쟁전 배지</th>
		<th>진행중 경쟁전 이름</th>
		<th>진행중 경쟁전 날짜</th>
		<th>진행중 경쟁전 내용</th>
		</tr>
		</thead>
		
		<tfoot>
		<tr>
		<th>#번호</th>
		<th>진행중 경쟁전 코스</th>
		<th>진행중 경쟁전 배지</th>
		<th>진행중 경쟁전 이름</th>
		<th>진행중 경쟁전 날짜</th>
		<th>진행중 경쟁전 내용</th>
		</tr>
		</tfoot>
	

		<tbody>
			<tr th:each="CompIng : ${list}">
			<th th:id="${CompIng.comp_num}" style="cursor:hand" onClick="location.href='/entertainment/compDetail'" th:text="${CompIng.comp_num}"></th>
			<th th:text="${CompIng.comp_course}"></th>
			<th><img src='/imagetest'></th>
			<!--  <th th:text="${CompIng.comp_badge}"></th>-->
			<th th:id="${CompIng.comp_name}" style="cursor:hand" onClick="location.href='/entertainment/compDetail'" th:text="${CompIng.comp_name}"></th>
			<th th:text="${CompIng.comp_period}"></th>
			<th th:text="${CompIng.comp_content}"></th>
			</tr>
		</tbody>
	</table>
</div>
</body>

<footer th:replace="footer"></footer>