<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="header2"></head>
<link rel="stylesheet" href="/css/entertainment/guide.css">
 
   <section class="hero-wrap hero-wrap-2" style="background-image: url('/test/images/entertainment_img.jpg');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
                <h1 class="mb-2 bread">GUIDE</h1>
               <p class="breadcrumbs"><span class="mr-2"><a href="index.html">ENTERTAINMENT <i class="ion-ios-arrow-forward"></i></a></span> <span>GUIDE <i class="ion-ios-arrow-forward"></i></span></p>
          </div>
        </div>
      </div>
   </section>

<section class="ftco-section">
	<div class="cp_title">
		<h1>경쟁전 참여</h1>
		<p>※ 경쟁전은 특정 코스를 주행해 그기록으로 클럽원끼리 경쟁하는 콘텐츠!</p>
		<img alt="" src="/imgs/comp_guide.jpg">
	</div>
	<hr>
	<div class="ms_title">
		<h1>미션</h1>
		<p>※ 미션 완료 조건을 확인하고 완료해 보세요!</p>
		<img alt="" src="/imgs/ms_guide.jpg">
	</div>
</section>



	
	<!-- loader -->
  	<div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>
  	<footer th:replace="footer2"></footer>