<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="header"></head>

<body>
<script>
$(document).ready(function() {
	$.ajax({
		url : "/entertainment/missions/test",
		dataType : "json", 
		cache : false, 
		success : function(data) {
				var records = "";
				for (var i=0 ; i<data.length ; i++){
					records += "<tr><th>" + data[i].m_num + "</th><th>" + data[i].m_badge+ "</th><th>" + data[i].m_name + "</th><th>" + data[i].m_content + "</th><th>" + "<img src='/imagetest'>" + "</th></tr>";					
				}
				$("#result2").html(records);
			}
		});	
});
</script>
<div class="root">
	<table class = "table" id="mission" width="100%" cellspacing="0">
		<thead>
		<tr>
		<th>#번호</th>
		<th>미션 뱃지</th>
		<th>미션 이름</th>
		<th>미션 내용</th>
		<th>배지 이미지</th>
		</tr>
		</thead>
		
		<tfoot>
		<tr>
		<th>#번호</th>
		<th>미션 뱃지</th>
		<th>미션 이름</th>
		<th>미션 내용</th> 
		<th>배지 이미지</th>
		</tr>
		
		</tfoot>
		
		<tbody id = "result2">
			
		
		</tbody>
	</table>
					<div>
					<a href="/entertainment/missionComplete"><button id="complete" style="float:right">완료한 미션보기</button></a>
					<a href="/entertainment/missionUpload"><button id="upload" style="float:right">미션등록</button></a>
					</div>


	
</div>
</body>

<footer th:replace="footer"></footer>