<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="header"></head>
<div id="sub_img"></div>
<!-- 위는 로컬에 적용하는 KEY, 아래는 서버에 적용하는 KEY입니다. 로컬에서는 상단KEY를 쓰고 아래 KEY를 주석처리해주세요.-->
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=75b139a908cf5a67ae5c093565896a18&libraries=services"></script>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=dbb047c9e9b46e285f76df6669c00d7f&libraries=services"></script>
<div id="myInfoBox">
	<div id="myRecords">
	<h2>나의 기록</h2>
	<ul>
		<li class="li_rr" th:each="record : ${ridingrecords}" th:id="${record.rr_num}">
			<span th:text="${record.rr_area}"></span>
			<span th:text="${record.rr_gpx}"></span>
		</li>
	</ul>
	</div>
	<div id="myScraps">
	<h2>나의 스크랩 코스</h2>
		<ul>
			<li "li_sc" th:each="course : ${scrapcourses}" th:id="${course.c_num}" >
				<span th:text="${course.c_area}"></span>
				<span>난이도</span>
				<span th:text="${course.c_level}"></span>
			</li>
		</ul>
	</div>
</div>
<div id="map" style="width:83%;height:350px;"></div>
<div "courseInfo">
	<h2>선택한 코스 정보</h2>
	<div id="courseInfo"></div>
</div>
	
<script>
	$(document).ready(function() {
		userId = $("#nav_t_login ul li b span").html();
		
		var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
	    mapOption = { 
	        center: new kakao.maps.LatLng(35.89617906303501, 128.62171907592318), // 지도의 중심좌표
	        level: 5 // 지도의 확대 레벨
	    };
		var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다
		
		
		$(".li_rr").click(function(){
			$.ajax({
				url : "/getGpxFileByRR_Num",
				type : "GET",
				data : {rr_num : this.id},
				dataType : "json", // 데이터 타입을 제이슨 꼭해야함, 다른방법도 2가지있음
				cache : false, // 이걸 안쓰거나 true하면 수정해도 값반영이 잘안댐
				success : function(data) {
					map = new kakao.maps.Map(mapContainer, mapOption); // 클릭시 새로운 지도를 생성합니다
					
					var point = data.infos;
					var linePath = [];
					
					// 지도를 재설정할 범위정보를 가지고 있을 LatLngBounds 객체를 생성합니다
					var bounds = new kakao.maps.LatLngBounds();
					
					for(var i=0;i<point.length;i++){
						var location = new kakao.maps.LatLng(point[i].lat, point[i].lon);
						linePath.push(location);
						bounds.extend(location);
					}
					// 지도에 표시할 선을 생성합니다
					var polyline = new kakao.maps.Polyline({
					    path: linePath, // 선을 구성하는 좌표배열 입니다
					    strokeWeight: 7, // 선의 두께 입니다
					    strokeColor: "#FF6600", // 선의 색깔입니다
					    strokeOpacity: 0.5, // 선의 불투명도 입니다 1에서 0 사이의 값이며 0에 가까울수록 투명합니다
					    strokeStyle: 'solid' // 선의 스타일입니다
					});
					// 지도에 선을 표시합니다 
					polyline.setMap(map);
					// 맵을 이동시킵니다.
					map.setBounds(bounds);
				}
			});
			$.ajax({
				url : "/getRidingRecordByRR_Num",
				type : "GET",
				data : {rr_num : this.id},
				dataType : "json", // 데이터 타입을 제이슨 꼭해야함, 다른방법도 2가지있음
				cache : false, // 이걸 안쓰거나 true하면 수정해도 값반영이 잘안댐
				success : function(data) {
					var str = "라이딩 일시 : "+data.rr_date
						+ "전체거리 : "+data.rr_distance
						+ "위치 : "+data.rr_area
						+ "주행시간 : "+data.rr_distance
						+ "휴식시간 : "+data.rr_distance
						+ "최고속도 : "+data.rr_topspeed
						+ "평균속도 : "+data.rr_distance
						+ "획득고도 : "+data.rr_high;
					$('#courseInfo').html(str);
				}
			});
		});
		
		$(".li_sc").click(function(){
			alert(this.id);
		});
	});	

</script>
<footer th:replace="footer"></footer>