@charset "UTF-8";

.cp_title h1{
	text-align: center;
	font-weight: 800;
	color: orange;
}

.cp_title p{
	text-align: center;
}

.cp_title img{
	padding-left: 15%;
}



.ms_title h1{
	text-align: center;
	font-weight: 800;
	color: orange;
}

.ms_title p{
	text-align: center;
}
.ms_title img{
	margin-top: 5%;
	padding-left: 15%;
	
}