<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="header"></head>
<h1>클럽 게시판 페이지</h1>
<div class="root">
   <table class = "table" id="mission" width="100%" cellspacing="0">
      <thead>
      <tr>
      <th>#번호</th>
      <th>제목</th>
      <th>작성자</th>
      <th>작성일</th>
      <th>조회</th>
      </tr>
      </thead>
      
      <tr th:each="board : ${list}">
	      <th th:text="${board.b_num}"></th>
	      <th th:text="${board.b_title}"></th>
	      <th th:text="${board.b_rider}"></th>
	      <th th:text="${board.b_day}"></th>
	      <th th:text="${board.b_hit}"></th>
      </tr>
      
      <tfoot>
      <tr>
      <th>#번호</th>
      <th>제목</th>
      <th>작성자</th>
      <th>작성일</th>
      <th>조회</th>
      </tr>
      </tfoot>
      
   </table>
   <input type="hidden" id="b_club" name="b_club" th:value="${b_club}">
   
   
    <form action="/community/club" method="get">
		<input type="submit" value="돌아가기">
	</form>
	<button onclick="goCreateBoard()">게시글 쓰기</button>
</div>

<script>
function goCreateBoard() {
	location.href = "/community/club/createBoard/"+ $("#b_club").val();
}
</script>

<footer th:replace="footer"></footer>