 <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="header2"></head>
	
	<link href='/fullcalender/core/main.css' rel='stylesheet' />
	<link href='/fullcalender/daygrid/main.css' rel='stylesheet' />
	<script src='/fullcalender/core/main.js'></script>
	<script src='/fullcalender/interaction/main.js'></script>
	<script src='/fullcalender/daygrid/main.js'></script>
	<script src='/fullcalender/core/moment.min.js'></script>
	<script  src="https://code.jquery.com/jquery-3.5.1.js"  integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="  crossorigin="anonymous"></script>
	<link rel="stylesheet" href="/css/community/club_calender.css?after">
	
	<input type="hidden" id="hiddenCLUB" value="0" th:value="${club.cb_num}">
	
	<script>
		
		var events;
		$.ajax({
	      type: "get",
	      url: "/community/calender/"+$("#hiddenCLUB").val(),
	      success: function (response) {
	        	events = response;
	      }
	    });
	
	
		document.addEventListener('DOMContentLoaded', function() {
   	    var calendarEl = document.getElementById('calendar');
   	
   	    var calendar = new FullCalendar.Calendar(calendarEl, {
   	      plugins: [ 'interaction', 'dayGrid' ],
   	      header: {
   	        left: 'prevYear,prev,next,nextYear today',
   	        center: 'title',
   	        right: 'dayGridMonth,dayGridWeek,dayGridDay'
   	      },
   	      navLinks: true, // can click day/week names to navigate views
   	      editable: true,
   	      eventLimit: true, // allow "more" link when too many events
   	      events: events, 
	   	   dateClick: function(info) {
	   	    	console.log(info);
	   	    	clickCalender();
	   	  }
   	    	
   	    });
   	
   	    calendar.render();
   	  });
		
		
	
	  
	
	</script>
	
	<section class="hero-wrap hero-wrap-2" style="background-image: url('/test/images/bg_3.jpg');" data-stellar-background-ratio="0.5">
	   <div class="overlay"></div>
	   <div class="container">
	     <div class="row no-gutters slider-text align-items-end justify-content-center">
	       <div class="col-md-9 ftco-animate text-center">
	       		<h1 class="mb-2 bread">Club</h1>
	            <p class="breadcrumbs"><span class="mr-2"><a href="index.html">COMMUNITY <i class="ion-ios-arrow-forward"></i></a></span> <span>CLUB <i class="ion-ios-arrow-forward"></i></span></p>
	       </div>
	     </div>
	   </div>
	</section>
	
	
	<section class="ftco-section">
		<div class="container">
			<div class="row">
			
				<div class="col-lg-4 sidebar ftco-animate">
					<div class="sidebar-box clubinfo">
		              <div class="clubimg" style="background-image: url('/imgs/main3.jpg');" th:style="'background-image: url(/imgs/'+${club.cb_image}+');'">
		              </div>
		              
		              <h2 th:text="${club.cb_name}">클럽명</h2>
		              <input type="hidden" id="hiddenCLUB" th:value="${club.cb_num}">
		            </div>
		            
		            <div class="sidebar-box clubinfo">
		            	<a href="/community/club" th:href="'/community/club/'+${club.cb_num}">게시판</a>
		            	<a href="#" th:href="'/community/club/calender/'+${club.cb_num}">캘린더</a>
		            </div>
		            
				</div>
				
				
				<div class="col-lg-8 ftco-animate board">
					<h1>클럽 캘린더</h1>
					<p>일정을 등록하고 클럽원들과 함께 달려보세요!</p>
					
					<div id='calendar'></div>
					
				</div>
			</div>
		</div>
	</section>
	
    <!-- The Modal -->
    <div id="myModal" class="modal">
 
      <!-- Modal content -->
      <div class="modal-content">
        <h2>일정등록</h2>
        <table class="type08">
		    <thead>
		    <tr>
		        <th scope="cols">구분</th>
		        <th scope="cols">내용</th>
		    </tr>
		    </thead>
		    <tbody>
		    <tr>
		        <th scope="row">일정명</th>
		        <td><input type="text" class="st" id="cc_content"></td>
		    </tr>
		    <tr>
		        <th scope="row">시작일</th>
		        <td><input type="datetime-local" id="cc_start"></td>
		    </tr>
		    <tr>
		        <th scope="row">종료일</th>
		        <td><input type="datetime-local" id="cc_end"></td>
		    </tr>
		    <tr>
		        <th scope="row">색깔</th>
		        <td>
		        	<select class="inputModal" name="color" id="cc_color">
	                    <option value="#D25565" style="color:#D25565;">빨간색</option>
	                    <option value="#9775fa" style="color:#9775fa;">보라색</option>
	                    <option value="#ffa94d" style="color:#ffa94d;">주황색</option>
	                    <option value="#74c0fc" style="color:#74c0fc;">파란색</option>
	                    <option value="#f06595" style="color:#f06595;">핑크색</option>
	                    <option value="#63e6be" style="color:#63e6be;">연두색</option>
	                    <option value="#a9e34b" style="color:#a9e34b;">초록색</option>
	                    <option value="#4d638c" style="color:#4d638c;">남색</option>
	                    <option value="#495057" style="color:#495057;">검정색</option>
                    </select>
               </td>
		    </tr>
   		    <tr>
		        <th scope="row">하루종일</th>
		        <td><input type="checkbox" id="cc_allday"></td>
		    </tr>
		    </tbody>
		</table>
		<div class="flex">
			<button class="sbtn" onclick="clickCancel()">취소</button><button class="sbtn" onclick="regSchedule()">등록</button>
		</div>
      </div>
 
    </div>
	

    <footer th:replace="footer2"></footer>
  
  <script>
		//Get the modal
		  var modal = document.getElementById('myModal');
		
		  // Get the button that opens the modal
		  var btn = document.getElementById("myBtn");
		
		  // Get the <span> element that closes the modal
		  var span = document.getElementsByClassName("close")[0];                                          
		
		  // When the user clicks on the button, open the modal 
		  btn.onclick = function() {
		      modal.style.display = "block";
		  }
		
		  // When the user clicks anywhere outside of the modal, close it
		  window.onclick = function(event) {
		      if (event.target == modal) {
		          modal.style.display = "none";
		      }
		  }

  		function clickCalender(){
  			modal.style.display = "block";
  		}
  		
  		function clickCancel(){
  			modal.style.display = "none";
  		}
  		
  		function regSchedule(){
  			var info = {
				username : $("#hiddenID").val(),
  				title : $("#cc_content").val(),
  				start : $("#cc_start").val(),
  				end : $("#cc_end").val(),
  				backgroundColor : $("#cc_color").val(),
  				allDay : false,
  			};
  			
  			console.log(info);
  			
  			if (info.start > info.end) {
  	            alert('끝나는 날짜가 앞설 수 없습니다.');
  	            return false;
  	        }
  			
  			var realEndDay;

  	        if ($("#cc_allday").is(':checked')) {
  	        	info.start = moment(info.start).format('YYYY-MM-DD');
  	            //render시 날짜표기수정
  	            info.end = moment(info.end).add(1, 'days').format('YYYY-MM-DD');
  	            /* //DB에 넣을때(선택)
  	            realEndDay = moment(eventData.end).format('YYYY-MM-DD'); */

  	          	info.allDay = true;
  	        }
  			
  			$.ajax({
  		      type: "post",
  		      url: "/community/calender/"+$("#hiddenCLUB").val(),
  		      data : info,
  		      success: function (response) {
  		        	alert("일정을 등록했습니다!");
  		        	location.href = "/community/club/calender/"+$("#hiddenCLUB").val();
  		      }
  		    });
  			
  		}
  </script>
  
   
  <script src="/test/js/jquery-migrate-3.0.1.min.js"></script>
  <script src="/test/js/popper.min.js"></script>
  <script src="/test/js/bootstrap.min.js"></script>
  <script src="/test/js/jquery.easing.1.3.js"></script>
  <script src="/test/js/jquery.waypoints.min.js"></script>
  <script src="/test/js/jquery.stellar.min.js"></script>
  <script src="/test/js/owl.carousel.min.js"></script>
  <script src="/test/js/jquery.magnific-popup.min.js"></script>
  <script src="/test/js/aos.js"></script>
  <script src="/test/js/jquery.animateNumber.min.js"></script>
  <script src="/test/js/bootstrap-datepicker.js"></script>
  <script src="/test/js/jquery.timepicker.min.js"></script>
  <script src="/test/js/scrollax.min.js"></script>
  <script src="/test/js/main.js"></script>
  </body>
</html>