 <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="header2"></head>
<link rel="stylesheet" href="/css/community/main.css">
<section class="hero-wrap hero-wrap-2" style="background-image: url(/imgs/community/clubimage.jpg)" data-stellar-background-ratio="1.0">
   <div class="overlay"></div>
   <div class="container">
     <div class="row no-gutters slider-text align-items-end justify-content-center">
       <div class="col-md-9 ftco-animate text-center">
       </div>
     </div>
   </div>
</section>

<section class="ftco-section testimony-section img">
			<div class="overlay"></div>
      <div class="container">
        <div class="row justify-content-center mb-5">
          <div class="col-md-7 text-center heading-section ftco-animate">
            <h2 class="mb-4">클럽 리스트</h2>
          </div>
        </div>
        <div class="row ftco-animate justify-content-center">
          <div class="col-md-12">
            <div class="carousel-testimony owl-carousel ftco-owl">
              <div class="item">
                <div class="testimony-wrap text-center pb-5">
                  <div class="user-img mb-4" style="background-image: url(/imgs/visual.jpg);">
                    <span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                  </div>
                  <div class="text p-3">
                    <p class="mb-4">여성 회원만 모집합니다.</p>
                    <p class="name">걸스제너레이션</p>
                    <span class="position">김미향</span>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap text-center pb-5">
                  <div class="user-img mb-4" style="background-image: url(/imgs/visual.jpg);">
                    <span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                  </div>
                  <div class="text p-3">
                    <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                    <p class="name">Mark Stevenson</p>
                    <span class="position">Customer</span>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap text-center pb-5">
                  <div class="user-img mb-4" style="background-image: url(/imgs/visual.jpg);">
                    <span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                  </div>
                  <div class="text p-3">
                    <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                    <p class="name">Art Leonard</p>
                    <span class="position">Customer</span>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap text-center pb-5">
                  <div class="user-img mb-4" style="background-image: url(/imgs/visual.jpg);">
                    <span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                  </div>
                  <div class="text p-3">
                    <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                    <p class="name">Rose Henderson</p>
                    <span class="position">Customer</span>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap text-center pb-5">
                  <div class="user-img mb-4" style="background-image: url(/imgs/visual.jpg);">
                    <span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                  </div>
                  <div class="text p-3">
                    <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                    <p class="name">Ian Boner</p>
                    <span class="position">Customer</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <br>
      
     <div class="col-md-7 text-center heading-section ftco-animate club-table">
      <table class="table table-condensed">
	<thead>
		<tr>
			<th>名称</th>
			<th>城市</th>
			<th>密码</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Tanmay</td>
			<td>Bangalore</td>
			<td>560001</td>
		</tr>
		<tr>
			<td>Sachin</td>
			<td>Mumbai</td>
			<td>400003</td>
		</tr>
		<tr>
			<td>Uma</td>
			<td>Pune</td>
			<td>411027</td>
		</tr>
		<tr>
			<td>Uma</td>
			<td>Pune</td>
			<td>411027</td>
		</tr>
		<tr>
			<td>Uma</td>
			<td>Pune</td>
			<td>411027</td>
		</tr>
	</tbody>
</table>
	<button onclick="goJoinClub()">클럽 가입</button>
	<button onclick="moveCalender()">클럽캘린더</button>
	<button onclick="goBoard()">클럽게시판</button>
	<input type="hidden" id="userclub" name="userclub">
	<input type="hidden" id="cb_manager" name="cb_manager">
</div>
    </section>
		
		
		
    <footer th:replace="footer2"></footer>
  
  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>


  <script src="/test/js/jquery-migrate-3.0.1.min.js"></script>
  <script src="/test/js/popper.min.js"></script>
  <script src="/test/js/bootstrap.min.js"></script>
  <script src="/test/js/jquery.easing.1.3.js"></script>
  <script src="/test/js/jquery.waypoints.min.js"></script>
  <script src="/test/js/jquery.stellar.min.js"></script>
  <script src="/test/js/owl.carousel.min.js"></script>
  <script src="/test/js/jquery.magnific-popup.min.js"></script>
  <script src="/test/js/aos.js"></script>
  <script src="/test/js/jquery.animateNumber.min.js"></script>
  <script src="/test/js/bootstrap-datepicker.js"></script>
  <script src="/test/js/jquery.timepicker.min.js"></script>
  <script src="/test/js/scrollax.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
  <script src="/test/js/google-map.js"></script>
  <script src="/test/js/main.js"></script>
  
  <script>
$(document).ready(function() {
	//로그인 했을때만 로그인한 사용자아이디 가져옴
	$("#cb_manager").val($("#hiddenID").val());
	
   $.ajax({
      url : "/community/club/get",
      dataType : "json",
      cache : false,
      data : {cj_rider : $("#hiddenID").val()},
      success : function(data) {
            	$("#userclub").val(data);
         }
      });
});

function goBoard() {
	if($("#userclub").val()==0) {
		alert("이미 클럽에 소속되어 있거나 로그인 중이 아닙니다.");
		return;
	}
	location.href = "/community/club/club_board/"+ $("#userclub").val();
}

function goCreateClub() {
	if($("#userclub").val()!=0 || $("#userclub").val()=="" || $("#userclub").val()== null || $("#cb_manager").val()=="") {
		alert("이미 클럽에 소속되어 있거나 로그인 중이 아닙니다.");
		return;
	}
	location.href = "/community/club/create";
}

function moveCalender(){
	if($("#userclub").val()==0) {
		alert("클럽에 가입되어 있지 않습니다.");
		return;
	}
	location.href="/community/club/calender";
}
function goJoinClub() {
	// 유저 클럽번호가 0이 아닐 때(이미 클럽에 가입한 경우), 공백이나 널일때(비로그인)
	if($("#userclub").val()!=0 || $("#userclub").val()=="" || $("#userclub").val()== null
			|| $("#cb_manager").val()=="" || $("#cb_manager").val()== null) { 
		alert("이미 클럽에 소속되어 있거나 로그인 중이 아닙니다.");
		return;
	}
	location.href="/community/club/join";
}

</script>
    
  </body>
</html>