<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="header"></head>
<h1>게시글 생성 페이지</h1>

	<form action="/createBoard/check" method="post" enctype="multipart/form-data">
		<input id="b_rider" name="b_rider" type="hidden">
		<input type="text" placeholder="게시글 제목 입력" id="b_title" name="b_title">
		<p><textarea cols="50" rows="10" id="b_content" name="b_content"></textarea></p>
		<input id="cb_image" name="uploadfile" type="file">
		<input type="hidden" id="b_club" name="b_club" th:value="${b_club}">
	    <p><input type="submit" value="등록하기"></p>
	</form>
	
<form action="/community/club" method="get">
	<input type="submit" value="돌아가기">
</form>

<script>
	$(document).ready(function() {
		//로그인 했을때만 로그인한 사용자아이디 가져옴
		$("#b_rider").val($("#nav_t_login ul li b span").html());
	});
</script>
<footer th:replace="footer"></footer>