 <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="header2"></head>
	<link rel="stylesheet" href="/css/etc/riding.css">
	
	<!-- 차트라이브러리 -->
	<script src="https://code.highcharts.com/highcharts.js"></script>
	<script src="https://code.highcharts.com/highcharts-more.js"></script>
	<script src="https://code.highcharts.com/modules/exporting.js"></script>
	<script src="https://code.highcharts.com/modules/export-data.js"></script>
	<script src="https://code.highcharts.com/modules/accessibility.js"></script>
	
<body>
	
	<section class="hero-wrap hero-wrap-2" style="background-image: url('/imgs/visual2.png');" data-stellar-background-ratio="0.5">
	   <div class="overlay"></div>
	   <div class="container">
	     <div class="row no-gutters slider-text align-items-end justify-content-center">
	       <div class="col-md-9 ftco-animate text-center">
	       		<h1 class="mb-2 bread">RECORD</h1>
	            <p class="breadcrumbs"><span class="mr-2"><a href="index.html">MYPAGE <i class="ion-ios-arrow-forward"></i></a></span> <span>RECORD <i class="ion-ios-arrow-forward"></i></span></p>
	       </div>
	     </div>
	   </div>
	</section>


	<section class="ftco-section">
		<div class="container">
			<div class="row">
			
				<div class="col-lg-4 sidebar ftco-animate">
					<div class="sidebar-box clubinfo">
		              <div class="clubimg" style="background-image: url('/imgs/main3.jpg');">
		              </div>
		              <h2 th:text="${rider}+'님'">사용자명</h2>
		              <h2>안라하세요!</h2>
		            </div>
		            
		            <div class="sidebar-box clubinfo">
		            	<a href="/mypage/riding">내가 지나온 길</a>
		            	<a href="#">내가 쓴 게시글</a>
		            	<a href="#">내가 쓴 댓글</a>
		            	<a href="/mypage/badge">내 배지 보기</a>
		            </div>
		            
				</div>
				
				
				<div class="col-lg-8 ftco-animate board">
					<h1>내가 지나온 길 보기</h1>
					<p>지도 위를 모두 덮는 그 날까지 안라 가즈아!</p>
					
					<div id="mymap" style="width:100%;height:650px;"></div>
					<hr>
					<h1>MTBCraft와 함께 <span class="red" th:text="${total}"></span>km 달렸습니다.</h1>
					
					<div class="flex2">
						<figure class="highcharts-figure">
						  <div id="container2"></div>
						</figure>
						<figure class="highcharts-figure">
						    <div id="container3"></div>
						</figure>
					</div>	
					
				</div>
			</div>
		</div>
	</section>

<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=75b139a908cf5a67ae5c093565896a18&libraries=services"></script>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=dbb047c9e9b46e285f76df6669c00d7f&libraries=services"></script>

<script>
	var mapContainer = document.getElementById('mymap'), // 지도를 표시할 div 
	    mapOption = { 
	        center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
	        level: 3 // 지도의 확대 레벨
	    };
	
	// 지도를 표시할 div와  지도 옵션으로  지도를 생성합니다
	var map = new kakao.maps.Map(mapContainer, mapOption); 
	
	 // LatLngBounds 객체에 좌표를 추가합니다
    var bounds = new kakao.maps.LatLngBounds();
</script>

<script>
	$(document).ready(function() {
		$.ajax({
			url : "/info/mypage/riding",
			type : "get",
			dataType : "json",
			cache : false,
			success : function(data) {
				for(var i=0;i<data.length;i++){
					$.ajax({
						url : "/getGpxByRR_Num",
						type : "GET",
						data : {rr_num : data[i].rr_num},
						dataType : "json",
						cache : false,
						success : function(data2) {
							var point = data2.infos;
							var linePath = [];
							var rr_num = data2.rr_num;
							for(var k=0;k<point.length;k++){
								var location = new kakao.maps.LatLng(point[k].lat, point[k].lon);
								linePath.push(location);
								bounds.extend(location);
							}
							// 지도에 표시할 선을 생성합니다
							var polyline = new kakao.maps.Polyline({
							    path: linePath, // 선을 구성하는 좌표배열 입니다
							    strokeWeight: 7, // 선 의 두께 입니다
							    strokeColor: "#FF0000", // 선의 색깔입니다
							    strokeOpacity: 0.3, // 선의 불투명도 입니다 1에서 0 사이의 값이며 0에 가까울수록 투명합니다
							    strokeStyle: 'solid' // 선의 스타일입니다
							});
							// 지도에 선을 표시합니다 
							polyline.setMap(map);
							map.setBounds(bounds);
						}
					});
				}
			}
		});
		
		
		var total_avgspeed, total_topspeed,total_distance,total_high,total_time,
		user_avgspeed, user_topspeed,user_distance,user_high,user_time;
		
		$.ajax({
			url : "/info/riding/totalavg",
			type : "GET",
			cache : false, 
			success : function(data2) {
				
				total_avgspeed = data2.avgspeed;
				total_topspeed = data2.topspeed;
				total_distance = data2.distance;
				total_high = data2.avgspeed;
				total_time = data2.time/60;
				
				user_avgspeed = data2.user_avgspeed
				user_topspeed = data2.user_topspeed;
				user_distance = data2.user_distance;
				user_high = data2.user_avgspeed;
				user_time = data2.user_time/60;
				
				Highcharts.chart('container2', {
					
					  chart: {
					    polar: true,
					    type: 'line'
					  },
			
					   title: {
					    text: '평균주행정보',
					    x: -80
					  },
			
					  pane: {
					    size: '80%'
					  },
			
					  xAxis: {
					    categories: ['최고속도(km/h)', '평균속도(km/h)', '거리(km)', '획득고도(10m)'],
					    tickmarkPlacement: 'on',
					    lineWidth: 0
					  },
			
					  yAxis: {
					    gridLineInterpolation: 'polygon',
					    lineWidth: 0,
					    min: 0
					  },
			
					  tooltip: {
					    shared: true,
					    pointFormat: '<span style="color:{series.color}">{series.name}: <b>{point.y:,.0f}</b><br/>'
					  },
			
					  legend: {
					    align: 'right',
					    verticalAlign: 'middle',
					    layout: 'vertical'
					  },
			
					  series: [{
					    name: '전체코스',
					    data: [total_topspeed, total_avgspeed, total_distance, total_high ],
					    pointPlacement: 'on'
					  }, {
					    name: '나의기록',
					    data: [user_topspeed, user_avgspeed, user_distance, user_high],
					    pointPlacement: 'on'
					  }],
			
					  responsive: {
					    rules: [{
					      condition: {
					        maxWidth: 500
					      },
					      chartOptions: {
					        legend: {
					          align: 'center',
					          verticalAlign: 'bottom',
					          layout: 'horizontal'
					        },
					        pane: {
					          size: '70%'
					        }
					      }
					    }]
					  }
					});
				
				Highcharts.chart('container3', {
				    chart: {
				        type: 'column'
				    },
				    title: {
				        text: '주행시간'
				    },
				    
				    xAxis: {
				        type: 'category',
				        labels: {
				            style: {
				                fontSize: '17px',
				                fontFamily: 'Verdana, sans-serif'
				            }
				        }
				    },
				    yAxis: {
				        min: 0,
				        title: {
				            text: ''
				        }
				    },
				    legend: {
				        enabled: false
				    },
				    tooltip: {
				        pointFormat: '주행시간: <b>{point.y:.0f} 분</b>'
				    },
				    series: [{
				        name: 'Population',
				        data: [
				        	['나의기록', user_time],
				        	['전체코스', total_time]
				        ],
				        dataLabels: {
				            enabled: true,
				            color: '#FFFFFF',
				            format: '{point.y:.0f}', // one decimal
				            y: 50, // 10 pixels down from the top
				            style: {
				                fontSize: '30px',
				                fontFamily: 'Verdana, sans-serif'
				            }
				        }
				    }]
				});
			}
		});
	});
	
</script>


<footer th:replace="footer2"></footer>
  
	  <!-- loader -->
	  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>
	
	
	  <script src="/test/js/jquery-migrate-3.0.1.min.js"></script>
	  <script src="/test/js/popper.min.js"></script>
	  <script src="/test/js/bootstrap.min.js"></script>
	  <script src="/test/js/jquery.easing.1.3.js"></script>
	  <script src="/test/js/jquery.waypoints.min.js"></script>
	  <script src="/test/js/jquery.stellar.min.js"></script>
	  <script src="/test/js/owl.carousel.min.js"></script>
	  <script src="/test/js/jquery.magnific-popup.min.js"></script>
	  <script src="/test/js/aos.js"></script>
	  <script src="/test/js/jquery.animateNumber.min.js"></script>
	  <script src="/test/js/bootstrap-datepicker.js"></script>
	  <script src="/test/js/jquery.timepicker.min.js"></script>
	  <script src="/test/js/scrollax.min.js"></script>
	  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
	  <script src="/test/js/google-map.js"></script>
	  <script src="/test/js/main.js"></script>
    	<script>
    		$(".commtag").click(function(){
    			if($("#hiddenCLUB").val()==0){
    				location.href = this.id;
    			}else {
    				location.href = this.id+"/"+$("#hiddenCLUB").val();
    			}
    		});
    	</script>
  </body>
</html>