<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="css/common.css" />
</head>
<body>
<header>
	<div id="navi_line"></div>
	<div id="header_in">
		<div id="nav_t">로그인</div>
		<div id="logo"><img src="imgs/logo.png" alt="logo" title="logo" /></div>
		<div id="menu">
			<ul>
				<li><a href="#">소개</a></li>
				<li><a href="#">라이딩</a>
					<ul>
						<li><a href="#">코스</a>
							<ul>
								<li>내 코스 관리</li>
								<li>코스 만들기</li>
								<li>코스 공유</li>
								<li>스크랩 코스</li>
								<li>코스 및 리뷰보기</li>
							</ul>
						</li>
						<li><a href="#">SUB_MENU2</a></li>
						<li><a href="#">SUB_MENU3</a></li>
					</ul>
				</li>
				<li><a href="#">커뮤니티</a>
					<ul>
						<li><a href="#">SUB_MENU</a></li>
						<li><a href="#">SUB_MENU2</a></li>
						<li><a href="#">SUB_MENU3</a></li>
					</ul>
				</li>
				<li><a href="#">엔터테인먼트</a>
					<ul>
						<li><a href="#">SUB_MENU</a></li>
						<li><a href="#">SUB_MENU2</a></li>
						<li><a href="#">SUB_MENU3</a></li>
					</ul>
				</li>
				<li><a href="#">정비</a>
					<ul>
						<li><a href="#">SUB_MENU</a></li>
						<li><a href="#">SUB_MENU2</a></li>
						<li><a href="#">SUB_MENU3</a></li>
					</ul>
				</li>
			</ul>
		</div>
		
	</div>
	
</header>
</body>
</html>