 <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="header2"></head>

<link rel="stylesheet" href="/css/community/goodsDetail.css"/>

<body>
<section class="hero-wrap hero-wrap-2" style="background-image: url('/test/images/community_img.jpg');" data-stellar-background-ratio="0.5">
   <div class="overlay"></div>
   <div class="container">
     <div class="row no-gutters slider-text align-items-end justify-content-center">
       <div class="col-md-9 ftco-animate text-center">
       		<h1 class="mb-2 bread">MARKET</h1>
            <p class="breadcrumbs"><span class="mr-2"><a href="index.html">COMMUNITY <i class="ion-ios-arrow-forward"></i></a></span> <span>MARKET <i class="ion-ios-arrow-forward"></i></span></p>
       </div>
     </div>
   </div>
</section>

<div class="main">
	<div class="goods_img">
		<img alt="" src="/imgs/club.png" th:src="'/data/img/goods/'+${goods.g_image}">
	</div>
	
	<div class="user">
		<div class="info">
			<div class="user_img">
				<img alt="" src="/imgs/f_logo.png" th:src="'/data/img/rider/'+${rider.r_image}">
			</div>
			<div class="user_info">
				<h4 class="w-700" th:text="${rider.r_nickname}">닉네임</h4>
				<p th:text="${rider.r_addr}">유저지역 : 대구 북구</p>
			</div>
		</div>
		<div class="user_trade_info">
			<div class="text-center w-700">거래 내역</div>
			<div class="flex">
				<span th:text="${'판매중 : '+trade_info.yet}">판매중 : 4</span>
				<span th:text="${'거래중 : '+trade_info.ing}">거래중 : 2</span>
				<span th:text="${'거래완료 : '+trade_info.ed}">거래완료 : 6</span>
			</div>
		</div>
	</div>
	<hr>
	<div>
		<h3 class="w-900" th:text="${goods.g_title}">글 제목</h3>
		<p th:text="${goods.g_date}">등록시간</p>
		<h4 th:text="${goods.g_price}+'원'">가격</h4>
		<div th:text="${goods.g_content}">글 내용</div>
		<p class="nowInfo">
			<span th:text="'조회 : '+${goods.g_hit}">조회 : 20</span>
			<span id="like" th:text="'관심 : '+${goods.g_like}">관심 : 7</span>
		</p>
		<input type="hidden" id="g_num" th:value="${goods.g_num}">
	</div>
	<hr>
	<div class="goodsBtn">
		<button th:if="${goods.g_status}==0" onclick="updateGoodsLike()">관심등록</button>
		<button th:if="${goods.g_status}==1" onclick="backToList()">돌아가기</button>
		<button th:if="${goods.g_status}==2" onclick="backToList()">돌아가기</button>
		<button th:if="${goods.g_status}==0" onclick="buyGoods()">구매하기</button>
		<button th:if="${goods.g_status}==1" onclick="buyGoods()" disabled="disabled">거래중</button>
		<button th:if="${goods.g_status}==2" onclick="buyGoods()" disabled="disabled">거래완료</button>
	</div>
</div>

<footer th:replace="footer2"></footer>

<script>

//관심 등록
function updateGoodsLike(){
	var g_num = $("#g_num").val();
	
	console.log(g_num);
	
	$.ajax({
		url : "/community/goodslike/"+g_num,
		type : "post",
		success : function(data){
			console.log(data);
			if(data!="fail"){
				alert("관심목록에 추가하였습니다.");
				$("#like").text("관심 : "+data);
			}
			else {
				alert("이미 관심목록에 추가한 상품입니다.");
			}
		}
	})
}

//구매하기 페이지로 이동
function buyGoods(){
	var chk = confirm("구매하시겠습니까?");
	if(chk){
		var chk2 = confirm("등록된 기본 배송지로 설정하시겠습니까?");
		location.href="/community/buyGoods/"+$("#g_num").val();
	}else {
		alert("취소합니다.");
	}
}

//목록페이지로 이동
function backToList(){
	location.href="/community/market";
}


</script>
  
<!-- loader -->
<div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>


<script src="/test/js/jquery-migrate-3.0.1.min.js"></script>
<script src="/test/js/popper.min.js"></script>
<script src="/test/js/bootstrap.min.js"></script>
<script src="/test/js/jquery.easing.1.3.js"></script>
<script src="/test/js/jquery.waypoints.min.js"></script>
<script src="/test/js/jquery.stellar.min.js"></script>
<script src="/test/js/owl.carousel.min.js"></script>
<script src="/test/js/jquery.magnific-popup.min.js"></script>
<script src="/test/js/aos.js"></script>
<script src="/test/js/jquery.animateNumber.min.js"></script>
<script src="/test/js/bootstrap-datepicker.js"></script>
<script src="/test/js/jquery.timepicker.min.js"></script>
<script src="/test/js/scrollax.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
<script src="/test/js/google-map.js"></script>
<script src="/test/js/main.js"></script>
</body>
</html>