 <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="header2"></head>

<link rel="stylesheet" href="/css/community/market.css"/>

<body>

<section class="hero-wrap hero-wrap-2" style="background-image: url('/test/images/community_img.jpg');" data-stellar-background-ratio="0.5">
   <div class="overlay"></div>
   <div class="container">
     <div class="row no-gutters slider-text align-items-end justify-content-center">
       <div class="col-md-9 ftco-animate text-center">
       		<h1 class="mb-2 bread">MARKET</h1>
            <p class="breadcrumbs"><span class="mr-2"><a href="index.html">COMMUNITY <i class="ion-ios-arrow-forward"></i></a></span> <span>MARKET <i class="ion-ios-arrow-forward"></i></span></p>
       </div>
     </div>
   </div>
</section>

<div class="main">
	<div class="myInfo">
		<h1>나의 거래 정보</h1>
		<div>
			<a href="/community/myMarket"><span>현재 거래중 : <span th:text="${saler.sale}"></span></span></a>
			<br>
			<a href="/community/myMarket"><span>완료된 거래 : <span th:text="${saler.sold}"></span></span></a>
		</div>
		<div>
			<button onclick="regGoods()">등록하기</button>
		</div>
	</div>
	
	<hr>
	
	<div class="goodsBox">
		<h1>므틉마켓 매물 보기</h1>
		<div class="showStatus">
			<label for="showGoods">판매된 물품 제외</label><input type="checkbox" id="showGoods" checked="checked" onchange="showAll()">
		</div>
		<div class="divBox"></div>
		<div class="goods">
			<a href="#" th:each="goods:${goodsList}" th:class="'gs_'+${goods.g_status}" th:href="'/community/market/'+${goods.g_num}">
				<div class="imgBox" th:if="${goods.g_status}==0">
					<img alt="" src="/imgs/f_logo.png" th:src="'/data/img/goods/'+${goods.g_image}">
				</div>
				<div class="imgBox soldout" th:if="${goods.g_status}==1" th:style="|background-image: url('/data/img/goods/${goods.g_image}');|">
					<img alt="" src="/imgs/soldout.png">
				</div>
				<div class="imgBox soldout" th:if="${goods.g_status}==2" th:style="|background-image: url('/data/img/goods/${goods.g_image}');|">
					<img alt="" src="/imgs/soldout.png">
				</div>
				<h2 th:text="${goods.g_title}">자전거 다 판다.</h2>
				<span class="font12" th:text="${goods.g_content}">대구 북구 복현동</span>
				<h3 th:text="${goods.g_price}+'원'">100000원</h3>
				<hr>
				<div class="text-al-right">
					<span th:text="'조회수 '+${goods.g_hit}">조회수 8</span>
					<span th:text="'관심 '+${goods.g_like}">관심 3</span>
				</div>
			</a>
		</div>
	</div>
</div>

<footer th:replace="footer2"></footer>
 
<script>
	function regGoods(){
		location.href="/community/regist/goods";
	}
	
	$(document).ready(function(){
		$(".gs_2").css({
			'display':'none'
		});
	});
	
	function showAll(){
		if( $("#showGoods")[0].checked==true ){
			$(".gs_2").css({
				'display':'none'
			});
		}else{
			$(".gs_2").css({
				'display':'inline-block'
			});
		}
	}
</script>
 
<!-- loader -->
<div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>


<script src="/test/js/jquery-migrate-3.0.1.min.js"></script>
<script src="/test/js/popper.min.js"></script>
<script src="/test/js/bootstrap.min.js"></script>
<script src="/test/js/jquery.easing.1.3.js"></script>
<script src="/test/js/jquery.waypoints.min.js"></script>
<script src="/test/js/jquery.stellar.min.js"></script>
<script src="/test/js/owl.carousel.min.js"></script>
<script src="/test/js/jquery.magnific-popup.min.js"></script>
<script src="/test/js/aos.js"></script>
<script src="/test/js/jquery.animateNumber.min.js"></script>
<script src="/test/js/bootstrap-datepicker.js"></script>
<script src="/test/js/jquery.timepicker.min.js"></script>
<script src="/test/js/scrollax.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
<script src="/test/js/google-map.js"></script>
<script src="/test/js/main.js"></script>
</body>
</html>