 <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="header2"></head>

<link rel="stylesheet" href="/css/community/sns.css"/>

<body>
<section class="hero-wrap hero-wrap-2" style="background-image: url('/test/images/community_img.jpg');" data-stellar-background-ratio="0.5">
   <div class="overlay"></div>
   <div class="container">
     <div class="row no-gutters slider-text align-items-end justify-content-center">
       <div class="col-md-9 ftco-animate text-center">
       		<h1 class="mb-2 bread">SNS</h1>
            <p class="breadcrumbs"><span class="mr-2"><a href="index.html">COMMUNITY <i class="ion-ios-arrow-forward"></i></a></span> <span>SNS <i class="ion-ios-arrow-forward"></i></span></p>
       </div>
     </div>
   </div>
</section>

<section class="main">
	<div class="postbox">
		<div>
			<h3>당신의 이야기를 들려주세요!</h3>
			<form id="form_sns" action="/community/sns" method="post" enctype="multipart/form-data">
				<div>공개설정 : 
					<input type="radio" name="b_type" id="all" value="0" checked="checked"><label for="all">전체공개</label>
					<input type="radio" name="b_type" id="club" value="1"><label for="club">클럽원공개</label>
				</div>
				<textarea name="b_content"></textarea>
				<input type="file" name="file" id="input_img">
				<input name="b_rider" type="hidden" th:value="${#authentication.name}">
				<input name="b_club" value="99999" type="hidden">
				<div class="imgbox">
					<img id="preImg">
				</div>
			</form>
			<div class="flex">
				<button class="btn_sns">등록</button>
				<button class="btn_sns">취소</button>
			</div>
		</div>
	</div>
	
	
	<div>
		<div th:each="board:${list}" class="snsbox">
			<div class="userinfo">
				<img th:src="'/data/img/rider/'+${board.b_img}">
				<h4 th:text="${board.b_rider}" class="otherRider" th:id="${board.b_rider}">작성자</h4>
			</div>
			<div class="snsinfo">
				<span th:text="${board.b_title}">작성일시</span>
				<span th:if="${board.b_type}==0" th:text="전체공개">공개여부</span>
				<span th:if="${board.b_type}==1" th:text="클럽만공개">공개여부</span>
				<a th:href="'#num'+${board.b_num}" th:if="${board.b_rider}==${#authentication.name}" th:onclick="'modifyMode('+ ${board.b_num} +')'"><span>수정</span></a>
				<a href="#" th:if="${board.b_rider}==${#authentication.name}" th:onclick="'remove('+ ${board.b_num} +')'"><span>삭제</span></a>
			</div>
			<div th:text="${board.b_content}" th:class="'content_'+${board.b_num}+' snscontent'">
				<a th:name="'num'+${board.b_num}"></a>내용</div>
			<div class="pd-20">
				<img th:if="${board.b_file}!=null" th:class="${board.b_num}" th:src="'/data/img/sns/'+${board.b_file}">
				<form th:if="${board.b_rider}==${#authentication.name}" enctype="multipart/form-data" th:id="'form_modify_'+${board.b_num}" th:action="'/community/sns/'+${board.b_num}" hidden="true" method="post">
					<input type="file" name="file" th:id="'modify_img_'+${board.b_num}" class="modify_img">
					<input type="hidden" name="b_content">
					<div class="flex-end">
						<button type="button" th:onclick="'modify('+${board.b_num}+')'">변경</button>
						<button type="button" th:onclick="'nomodify('+${board.b_num}+')'">변경취소</button>
					</div>
				</form>
			</div>
			<div class="replybox" th:id="'replybox_'+${board.b_num}">
				<h4>댓글</h4>
				<hr>
			</div>
			<div class="reply_reg_box">
				<form th:action="'/data/reply/'+${board.b_num}" method="post">
					<h5>댓글 쓰기</h5>
					<div class="flex">
						<textarea name="re_content" placeholder="따뜻한 댓글이 따뜻한 사회를 만듭니다."></textarea>
						<button>등록</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>

<script>

	var sel_file;
	
	$(document).ready(function(){
		$(".otherRider").click(function(){
			moveUserInfo(this.id);
		});
		
		
		$(".imgbox").hide();
		$("#input_img").on("change", handleImgFile);
		$(".modify_img").on("change", handleImgFile);
		
		$(".btn_sns").click(function(){
			if( $(this).text() == "취소" ){
				$("textarea[name=b_content]").val("");
				$("#input_img").val("");
				$(".imgbox").hide();
			} else {
				$("#form_sns").submit();				
			}
		});
		
		loadReply();
	});
	
	function handleImgFile(e){
		var files = e.target.files;
		var filesArr = Array.prototype.slice.call(files);
		
		var eid = e.target.id;
		if(eid!="input_img"){
			eid = (e.target.id).substring( (e.target.id).lastIndexOf("_") + 1  );
		}
		
		filesArr.forEach(function(f){
			if(!f.type.match("image.*")){
				alert("확장자를 확인해주세요.");
				return;
			}
			
			sel_file=f;
			
			var reader = new FileReader();
			reader.onload = function(e){
				if(eid=="input_img"){
					$(".imgbox").show();
					document.getElementById("preImg").setAttribute("src", e.target.result);	
				} else {
					$("img[class="+eid+"]").attr("src", e.target.result);
				}
				
			}
			reader.readAsDataURL(f);
		});
	}
	
	function remove(b_num){
		location.href = "/community/sns/"+b_num;
	}
	
	function modifyMode(b_num){
		 $("div.content_"+b_num).attr("contenteditable", "true");
		 $("div.content_"+b_num).focus();
		 $("#form_modify_"+b_num).attr("hidden", false);
	}
	
	function modify(b_num){
		
		var b_content =   $("div.content_"+b_num).html();
		$("input[name=b_content]").val(b_content);
		
		$("#form_modify_"+b_num).submit();
	}
	
	function nomodify(b_num){
		 $("div.content_"+b_num).attr("contenteditable", "false");
		 $("div.content_"+b_num).focus();
		 $("#form_modify_"+b_num).attr("hidden", true);
	}
	
	function loadReply(){
		
		
		for(var i=0;i<$(".replybox").length;i++){
			
			var b_num = $(".replybox")[i].id.substring( ($(".replybox")[i].id).lastIndexOf("_") + 1 );
			
			$.ajax({
				url : "/data/reply/"+b_num,
				type : "get",
				success : function(data){
					
					for(var i=0;i<data.length;i++){
						var newDIV = $("<div class='flex_end'>");
						var newIMG = $("<img>");
						newIMG.attr("src", "/data/img/rider/"+data[i].r_image);
						var newH5 = $("<h5 id='"+data[i].re_rider+"' class='otherRider2'>"+data[i].re_rider+"</h5>");
						var newSpan = $("<span>"+data[i].re_day+"</span>");
						
						newH5.click(function(){
							moveUserInfo(this.id);
						});
						
						newDIV.append(newIMG);
						newDIV.append(newH5);
						newDIV.append(newSpan);

						if( $("input[name=b_rider]").val()==data[i].re_rider ){
							var newA_modify = $("<a href='#reply_"+data[i].re_num+"' onclick=reply_modifyMode("+data[i].re_num+")>수정</a>");
							var newA_remove = $("<a href='#' onclick=reply_remove("+data[i].re_num+")>삭제</a>");
							
							newDIV.append(newA_modify);
							newDIV.append(newA_remove);
							
							var newButton = $("<button onclick='modify("+data[i].re_num+")'>저장하기</button>");
							newButton.attr("hidden", true);
							
							var newButton2 = $("<button onclick='cancle("+data[i].re_num+")'>취소하기</button>");
							newButton2.attr("hidden", true);
							
							
							
							
						}
						
						var newInnerDIV = $("<div id='reply_"+data[i].re_num+"' class='re_content'>"+data[i].re_content+"</div>");
						var newInnerDIV2 = $("<div class='rmbb reply_modify_btn_box"+data[i].re_num+"'></div>");
						var newButton = $("<button id='reply_modify_btn"+data[i].re_num+"' onclick='reply_modify("+data[i].re_num+")'>수정하기</button>");
						var newButton2 = $("<button id='reply_nomodify_btn"+data[i].re_num+"' onclick='reply_nomodify("+data[i].re_num+")'>취소</button>");
						
						var newHR = $("<hr>");
						newInnerDIV2.hide();
						newInnerDIV2.append(newButton);
						newInnerDIV2.append(newButton2);
						
						$("#replybox_"+data[i].re_board).append(newDIV);
						$("#replybox_"+data[i].re_board).append(newInnerDIV);
						$("#replybox_"+data[i].re_board).append(newInnerDIV2);
						$("#replybox_"+data[i].re_board).append(newHR);
					}
					
					
				}
			})
		}
	}
	
	function reply_modifyMode(re_num){
		$("#reply_"+re_num).attr("contenteditable", "true");
		$("#reply_"+re_num).focus;
		$(".reply_modify_btn_box"+re_num).show();
	}
	
	function reply_remove(re_num){
		location.href = "/data/reply/delete/"+re_num;
	}
	
	function reply_modify(re_num){
		var re_content = $("#reply_"+re_num).text();
		console.log(re_content);
		console.log(re_num);
		$.ajax({
			url : "/data/reply/"+re_num,
			type : "put",
			data : {
				re_content : re_content
			},
			success : function(data){
				console.log(data);
				if(data=="success"){
					reply_nomodify(re_num);
				}
			}
		})		
	}
	
	function reply_nomodify(re_num){
		$("#reply_"+re_num).attr("contenteditable", "false");
		$(".reply_modify_btn_box"+re_num).hide();
	}
	
	function moveUserInfo(nickname){
		
		var form = document.createElement("form");
		form.setAttribute("method", "Post"); 
		form.setAttribute("action", "/info/history"); 
	  	var hiddenField = document.createElement("input");
		hiddenField.setAttribute("type", "hidden");
		hiddenField.setAttribute("name", "userNickname");
	    hiddenField.setAttribute("value", nickname);
	    form.appendChild(hiddenField);
	    
	  	var hiddenField2 = document.createElement("input");
		hiddenField2.setAttribute("type", "hidden");
		hiddenField2.setAttribute("name", "beforePage");
	    hiddenField2.setAttribute("value", "sns");
        form.appendChild(hiddenField2);
        
        document.body.appendChild(form);
        form.submit();
	}
	
</script>

<footer th:replace="footer2"></footer>
  
<!-- loader -->
<div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>


<script src="/test/js/jquery-migrate-3.0.1.min.js"></script>
<script src="/test/js/popper.min.js"></script>
<script src="/test/js/bootstrap.min.js"></script>
<script src="/test/js/jquery.easing.1.3.js"></script>
<script src="/test/js/jquery.waypoints.min.js"></script>
<script src="/test/js/jquery.stellar.min.js"></script>
<script src="/test/js/owl.carousel.min.js"></script>
<script src="/test/js/jquery.magnific-popup.min.js"></script>
<script src="/test/js/aos.js"></script>
<script src="/test/js/jquery.animateNumber.min.js"></script>
<script src="/test/js/bootstrap-datepicker.js"></script>
<script src="/test/js/jquery.timepicker.min.js"></script>
<script src="/test/js/scrollax.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
<script src="/test/js/google-map.js"></script>
<script src="/test/js/main.js"></script>
</body>
</html>