@charset "UTF-8";

.main {
	width: 60%;
	margin: 0 auto;
	padding: 0;
	margin-top: 30px;
}

.goods_img{
	width: 100%;
	max-height : 550px;
	margin-bottom: 20px;
}

.goods_img img {
	width: 100%;
	height: 100%;
	max-height : 550px;
}

.user {
	height: 80px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.user img {
	width: 100%;
	height: 100%;
}

.user_img {
	width: 50px;
	height: 50px;
	border-radius: 25px;
	overflow: hidden;
	display: inline-block;
}
.user_info {
	margin-left : 10px;
	display: inline-block;
}
.user_trade_info{
	display: inline-block;
}
.flex{
	display: flex;
}
.flex span {
	margin-left: 10px;
	margin-right: 10px;
}
.text-center{
	text-align: center;
}

.w-700 {
	font-weight: 700;
}

.w-900{
	font-weight: 900;
}
.nowInfo{
	margin-top: 20px;
	font-size: 0.9em;
	color : gray;
}

.goodsBtn {
	text-align: center;
}

.goodsBtn button {
	width: 200px;
	margin-left: 15px;
	margin-right: 15px;
	margin-bottom: 20px;
	border-radius: 15px;
	font-weight: 700;
}

.goodsBtn button:hover {
	background-color: #ffa323;
	color: white;
}