@charset "UTF-8";

.root {
	width: 60%;
	text-align: center;
}

.root img {
	width: 200px;
	height: 200px;
}

.list {
	height: 200px;
	line-height: 200px;
	font-size: 1.3em;
}

.list:hover {
	color: orange;
}