@charset "UTF-8";

#courseReview {
	width: 69%;
	float: right;
}

#postReview {
	width: 69%;
	float: right;
}

#rvbtnbox {
	width : 100%;
	position: relative;
	float: right;
}

.btnregreview {
	position: absolute;
	right: 1%;
	bottom: -30px;
}

.hero-wrap.hero-wrap-2 {
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.hashtag span {
	margin-right: 15px;
}

.hashtag button {
	color : gray;
	background-color : white;
	padding : 0;
	border : none;
	width : 15px;
	height: 25px;
	line-height : 25px;
	margin-left: 1px;
}

.pop_up {
	display : none;
	position : absolute;
	left : 0px;
	top : 0px;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0, 0.7);
	z-index: 99;
}

#mask {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 999;
    background-color: #000000;
    display: none; }

.layerpop {
    display: none;
    z-index: 1000;
    border: 2px solid #ccc;
    background: #fff;
    cursor: move; }

.layerpop_area .title {
    padding: 10px 10px 10px 10px;
    border: 0px solid #aaaaaa;
    background: #f1f1f1;
    color: #3eb0ce;
    font-size: 1.3em;
    font-weight: bold;
    line-height: 24px; }

.layerpop_area .layerpop_close {
    width: 25px;
    height: 25px;
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent url('btn_exit_off.png') no-repeat; }

.layerpop_area .layerpop_close:hover {
    background: transparent url('btn_exit_on.png') no-repeat;
    cursor: pointer; }

.layerpop_area .content {
    width: 96%;    
    margin: 2%;
    color: #828282; }

