@charset "UTF-8";

#courseReview {
	width: 69%;
	float: right;
}

#postReview {
	width: 69%;
	float: right;
}

#rvbtnbox {
	width : 100%;
	position: relative;
	float: right;
}

.btnregreview {
	position: absolute;
	right: 1%;
	bottom: -30px;
}

.hero-wrap.hero-wrap-2 {
	background-repeat: no-repeat;
	background-size: 100% 100%;
}