<footer class="ftco-footer ftco-bg-dark ftco-section">
		<div class="footerFlex">
			<div class="footerLogoBox">
					<img class="footer_Img"  alt="" src="/imgs/footerLogo.png">
			</div>
			<div class="footerInfo">
				<h1>밝음</h1>
				<p>어느 곳에서도 빛날 수 있는 사람들</p>
				<div class="footerPeople">
					<div>
						<div class="footerPersonImgBox">
							<img class="footer_Img" alt="" src="/imgs/team/ht.jpg">
						</div>
						<div>
							<h5>김형택</h5>
							<p>wooluk0987@gmail.com</p>
						</div>
					</div>
					<div>
						<div class="footerPersonImgBox">
							<img class="footer_Img" alt="" src="/imgs/team/bk.jpg">
						</div>
						<div>
							<h5>이병규</h5>
							<p>leebkgyu97@gmail.com</p>
						</div>
					</div>
					<div>
						<div class="footerPersonImgBox">
							<img class="footer_Img" alt="" src="/imgs/team/bj.jpg">
						</div>
						<div>
							<h5>최병조</h5>
							<p>cbj0914@gmail.com</p>
						</div>
					</div>
					<div>
						<div class="footerPersonImgBox">
							<img class="footer_Img" alt="" src="/imgs/team/hy.jpg">
						</div>
						<div>
							<h5>최현열</h5>
							<p>bnm703@naver.com</p>
						</div>
					</div>
					
				</div>
			</div>
		 </div>
		<div class="row">
			<div class="col-md-12 text-center" style="margin-top:-10px;">

				<p>
					<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
					Copyright &copy;
					<script>
						document.write(new Date().getFullYear());
					</script>
					All rights reserved | This template is made with by <a
						href="http://13.209.229.237:8080/" target="_blank">밝음</a>
					<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
				</p>
			</div>
		</div>
</footer>
<script src="/test/js/jquery.min.js"></script>
<script src="/test/js/jquery-migrate-3.0.1.min.js"></script>
<script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="/test/js/popper.min.js"></script>
<script src="/test/js/bootstrap.min.js"></script>
<script src="/test/js/jquery.easing.1.3.js"></script>
<script src="/test/js/jquery.waypoints.min.js"></script>
<script src="/test/js/jquery.stellar.min.js"></script>
<script src="/test/js/owl.carousel.min.js"></script>
<script src="/test/js/jquery.magnific-popup.min.js"></script>
<script src="/test/js/aos.js"></script>
<script src="/test/js/jquery.animateNumber.min.js"></script>
<script src="/test/js/bootstrap-datepicker.js"></script>
<script src="/test/js/jquery.timepicker.min.js"></script>
<script src="/test/js/scrollax.min.js"></script>
<script src="/test/js/main.js"></script>
	
	<script>
		$(".mm").click(function(){
			var form = document.createElement("form");
			form.setAttribute("method", "Post"); 
			console.log(this.id);
			form.setAttribute("action", this.id); 
		  	var hiddenField = document.createElement("input");
			hiddenField.setAttribute("type", "hidden");
			hiddenField.setAttribute("name", "rider");
		    hiddenField.setAttribute("value", $("#hiddenID").val());
	        form.appendChild(hiddenField);
	        
	        document.body.appendChild(form);
	        form.submit();
		});
	</script>
</body>
</html>