<link rel="stylesheet" href="/css/etc/footer.css">

<footer class="ftco-footer ftco-bg-dark ftco-section">
		<div class="footerFlex">
			<div class="footerLogoBox">
					<img class="footer_Img"  alt="" src="/imgs/footerLogo.png">
			</div>
			<div class="footerInfo">
				<h1>밝음</h1>
				<p>어느 곳에서도 빛날 수 있는 사람들</p>
				<div class="footerPeople">
					<div>
						<div class="footerPersonImgBox">
							<img class="footer_Img" alt="" src="/imgs/team/ht.jpg">
						</div>
						<div>
							<h5>김형택</h5>
							<p>wooluk0987@gmail.com</p>
						</div>
					</div>
					<div>
						<div class="footerPersonImgBox">
							<img class="footer_Img" alt="" src="/imgs/team/bk.jpg">
						</div>
						<div>
							<h5>이병규</h5>
							<p>leebkgyu97@gmail.com</p>
						</div>
					</div>
					<div>
						<div class="footerPersonImgBox">
							<img class="footer_Img" alt="" src="/imgs/team/bj.jpg">
						</div>
						<div>
							<h5>최병조</h5>
							<p>cbj0914@gmail.com</p>
						</div>
					</div>
					<div>
						<div class="footerPersonImgBox">
							<img class="footer_Img" alt="" src="/imgs/team/hy.jpg">
						</div>
						<div>
							<h5>최현열</h5>
							<p>bnm703@naver.com</p>
						</div>
					</div>
					
				</div>
			</div>
		 </div>
		<div class="row">
			<div class="col-md-12 text-center">

				<p>
					<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
					Copyright &copy;
					<script>
						document.write(new Date().getFullYear());
					</script>
					All rights reserved | This template is made with by <a
						href="http://13.209.229.237:8080/" target="_blank">밝음</a>
					<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
				</p>
			</div>
		</div>
</footer>


</body>
</html>