@charset "UTF-8";

.main {
	width: 60%;
	margin: 0 auto;
}

.myInfo {
	margin-top : 30px;
	text-align: center;
}

.myInfo button {
	width: 15%;
	height: 30px;
	line-height: 30px;
	background-color: white;
	border: 1px solid orange;
	font-weight: 700;
	margin-top: 10px;
}

.myInfo button:hover{
	background-color: orange;
	color: white;
}

.goodsBox h1 {
	text-align: center;
}

.divBox {
	width: 15%;
	height: 30px;
	border-top: 3px solid orange;
	margin: 0 auto;
}

.goods a{
	display: inline-block;
	width: 300px;
	height: 500px;
	margin: 15px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 5px;
	border-radius: 10px;
	overflow: hidden;
}
.goods hr {
	margin-top: 5px;
}
.goods a:hover {
	box-shadow: 5px 5px;
}

.goods img {
	width: 100%;
	height: 100%;
}

.goods .imgBox {
	width: 100%;
	height: 300px;
}

.text-al-right {
	text-align: right;
	margin-right: 10px;
}