#mainbox {
    position:relative;
}

#box_search_course {
    text-align: center;
}
.form_height{
    height: 30px;
}
.form_height2{
    height: 35px;
}
#hidden {
    display:none;
}
#map {
    width:100%;
    height:350px;
}
#box_courseInfo {
    text-align: center;
}
.course {
    margin: 0 auto;
    text-align: center;
}