<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <script src="/js/jquery-3.5.1.min.js"></script>
</head>
<body>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=08b19f25437b5687e1a81ed13ccdadc8&libraries=services"></script>
<input type="hidden" id="rr_num" th:value="${rr_num}" />
	<div id="mymap" style="width:100%; height:800px;"></div>
<script>
var mapContainer = document.getElementById('mymap'), // 지도를 표시할 div 
mapOption = { 
    center: new kakao.maps.LatLng(35.89617906303501, 128.62171907592318), // 지도의 중심좌표
    level: 2 // 지도의 확대 레벨
};
var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다


//지도에 코스를 나타내기위한 선입니다
var polyline = new kakao.maps.Polyline({
    path:  [
        new kakao.maps.LatLng(33.452344169439975, 126.56878163224233),
        new kakao.maps.LatLng(33.452739313807456, 126.5709308145358),
        new kakao.maps.LatLng(33.45178067090639, 126.5726886938753) 
    ], // 선을 구성하는 좌표배열 입니다
    strokeWeight: 4, // 선의 두께 입니다
    strokeColor: "#FF6600", // 선의 색깔입니다
    strokeOpacity: 1, // 선의 불투명도 입니다 1에서 0 사이의 값이며 0에 가까울수록 투명합니다
    strokeStyle: 'solid' // 선의 스타일입니다
});

//rr_num으로 지도에 경로 그리기
function drawPolylineByRR_Num(polyline, rr_num){
	console.log(rr_num+"대라");
	 $.ajax({
		 url : "/getGpxByRR_Num",
		 type : "GET",
		 data : {rr_num : rr_num},
		 dataType : "json",
		 cache : false,
		 success : function(data) {
				console.log("데이터 성공쓰"+data);
				var point = data.infos;
				var linePath = [];
				
				// 지도를 재설정할 범위정보를 가지고 있을 LatLngBounds 객체를 생성합니다
				var bounds = new kakao.maps.LatLngBounds();
		
				for(var i=0;i<point.length;i++){
					var location = new kakao.maps.LatLng(point[i].lat, point[i].lon);
					linePath.push(location);
					bounds.extend(location);
				}
				// 지도에 선을 표시합니다 
				polyline.setPath(linePath);
				// 지도에 선을 표시합니다 
				polyline.setMap(map);
				// 맵을 이동시킵니다.
				map.setBounds(bounds);
		}
	});
}

$(document).ready(function() {
	var rr_num = $("#rr_num").val();
console.log(rr_num+"dfdfd");
	drawPolylineByRR_Num(polyline,rr_num);
});
</script>
</body>
</html> 